{%- block text -%}
    ** {{- 'mail.no_reply'|trans -}} **
{%- endblock text -%}

{%- block html -%}
    <p>
        <i>
            {{-'mail.no_reply'|trans -}}
        </i>
    </p>
{%- endblock html -%}