{%- block html -%}
    <hr/>
    <p>{{ 'mail.sender_info.ip'|trans({'%ip%': ip}) }}</p>
    <p>{{ 'mail.sender_info.agent'|trans({'%agent%': agent}) }}</p>
{%- endblock html -%}

{%- block text %}

-- -- -- -- -- -- --
{{ 'mail.sender_info.ip'|trans({'%ip%': ip}) }}
{{ 'mail.sender_info.agent'|trans({'%agent%': agent}) }}
{%- endblock text -%}