<hr/>
<ul>
<li>{{ 'mail.sender_info.email'|trans({'%email%': email}) }}</li>
<li>{{ 'mail.sender_info.ip'|trans({'%ip%': ip}) }}</li>
<li>{{ 'mail.sender_info.agent'|trans({'%agent%': agent}) }}</li>
</ul>
