{%- trans_default_domain 'mail' -%}
<h3>
    {{- 'b.support.title'|trans() -}}
</h3>

<p>
    {{ 'b.support.explain'|trans({
        '%link_open%': context_url_open('support',
            mpp_ary(user_id, schema)),
        '%link_close%': '</a>',
        '%system_name%': config('systemname', schema)
    })|raw }}.
</p>
