{%- trans_default_domain 'mail' -%}
<h3>
    {{- 'b.support.title'|trans() -}}
</h3>

<p>
    {{ 'b.support.explain'|trans({
        '%link_open%': '<a href="' ~ support_url ~ '">',
        '%link_close%': '</a>',
        '%system_name%': config('systemname', schema)
    })|raw }}.
</p>
