{%- trans_default_domain 'mail' -%}
<h3>
    {{- 'b.support.title'|trans() -}}
</h3>

<p>
    {{ 'b.support.reply_admin'|trans({
        '%system_name%': config('systemname', schema)
    })|raw }}.
</p>
