{%- extends 'base/sidebar.html.twig' -%}

{%- set active_menu = 'home' -%}

{%- block content_container -%}
    <div class="jumbotron mt-2">
        <h1>
            {{- config('systemname', schema) -}}
        </h1>
    </div>
{%- endblock content_container -%}
