/_book/
/node_modules/
/.env_m
/.dist
/cache/
/.env*

## uploaded files ##

/public/store/*
!/public/store/README
##

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

/public/build/

# Compile sass from /style to /assets/build
# Then Asset Mapper copies to /public/assets
/assets/build/*
