/_book/
/node_modules/
/.env_m
/.dist
/cache/
/.env*

/public/build/

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
