<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_URI} !dispatch\.php$
    RewriteCond %{REQUEST_URI} /resources
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule .* dispatch.php [L,QSA]
</IfModule>

SetOutputFilter DEFLATE

<ifModule mod_headers.c>
	Header set Connection keep-alive
</ifModule>
