{%- extends 'index/base/index_base.html.twig' -%}

{%- block title -%}eLAND Contact{%- endblock -%}

{%- block jumbotron -%}
	<div class="jumbotron">
		<div class="container eland-jumbo">

		<h1>eLAND Contact</h1>
		<p>Server gemeenschapsmunten.</p>
		</div>

		<div class="container eland-jumbo-image">
			<div class="eland-contact"></div>
		</div>
	</div>
{%- endblock jumbotron -%}
