{% extends 'mail/base/private_msg_copy.twig' %}
{%- trans_default_domain 'mail' -%}

{% block subject_line -%}
    {{- 'user_msg_copy.subject'|trans({
        '%to_account%': account(to_user.id, schema)
    })|raw -}}
{%- endblock subject_line %}

{% block html_explain -%}
    {{- 'user_msg_copy.explain'|trans({
        '%to_account%': account(to_user.id, to_schema),
        '%link_open%': mail_link_open('users', {'id': to_user.id}, to_schema),
        '%link_close%': '</a>'
    })|raw -}}
{%- endblock html_explain -%}

{% block text_explain %}
{{ 'user_msg_copy.explain'|trans({
    '%to_account%': account(to_user.id, to_schema),
    '%link_open%': '',
    '%link_close%': ''
}) }}
{% endblock text_explain %}
