{% extends 'mail/base/private_msg.twig' %}
{%- trans_default_domain 'mail' -%}

{% block subject_line -%}
    {{- 'user_msg.subject'|trans({
        '%from_account%': account(from_user.id, from_schema)
    }) -}}
{%- endblock subject_line %}

{% block html_explain -%}
    {{- 'user_msg.explain'|trans({
        '%from_account%': account(from_user.id, from_schema),
        '%link_open%': mail_link_open('users', {'id': from_user.id}, from_schema),
        '%link_close%': '</a>'
    })|raw -}}
{%- endblock html_explain -%}

{% block text_explain %}
{{ 'user_msg.explain'|trans({
    '%from_account%': account(from_user.id, from_schema),
    '%link_open%': '',
    '%link_close%': ''
}) }}
{% endblock text_explain %}
