{%- extends 'base/base.html.twig' -%}

{%- block title -%}eLAND{%- endblock -%}
{%- block navbar -%}{%- endblock -%}

{%- block jumbotron -%}
	<div class="jumbotron">
		<div class="container eland-jumbo">

		<h1>{{- code -}}</h1>
		<h2>{{- message -}}</h2>
		<p>eLAND server gemeenschapsmunten</p>
		</div>

		<div class="container eland-jumbo-image">
			<div class="eland-exception"></div>
		</div>
	</div>
{%- endblock -%}

{%- block page_container -%}
	<br><br>
{%- endblock page_container -%}
