{% extends 'mail/base.html.twig' %}

{% block body %}

<h4>Admin moderatie nieuwsbericht</h4>

<p>Een lid gaf een nieuwsbericht met titel <strong>"{{ news.headline }}"</strong> in.</p>
<p>Dat bericht wacht op goedkeuring. </p>
<p><a href="{{ news_url }}">Ga naar het nieuwsbericht om het goed te keuren.</a></p>

{% endblock body %}

{% block accountinfo %}{% endblock accountinfo %}
{% block support %}{% endblock support %}
{% block unsubscribe %}{% endblock unsubscribe %}
