{% extends 'mail/base.html.twig' %}

{% block body %}

<h4>Vervallen vraag en aanbod</h4>

<ul>
{% for msg in messages %}
<li><a href="{{ msg.url }}">{{ msg.content }}</a><br><a href="{{ msg.user_url }}">{{ msg.user_str }}</a></li>
{% endfor %}
</ul>

{% endblock body %}

{% block accountinfo %}{% endblock accountinfo %}
{% block support %}{% endblock support %}
