<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body bgcolor="#FEFEFF" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">
<p><i>Dit is een automatische mail van Zwazwa. Niet beantwoorden a.u.b.</i></p>

<ul>
<li>
um
</li>
<li>ha</li>
<li>he</li>
<li>hu</li>
<li>hi</li>
<li>haha</li>
</ul>



<dl>
<dd>Hoe</dd>
<dt>Wat</dt>
<dd>Hoe</dd>
<dt>Wat</dt>
<dd>Hoe</dd>
<dt>Wat</dt>
<dd>Hoe</dd>
<dt>Wat</dt>

</dl>


<table>
<tr>
		<td></td>
		<td bgcolor="#FFFFFF">

				<table>
					<tr>
						<td width="20%" style="vertical-align: top; padding-right:10px;"><img src="http://placehold.it/75x75" /></td>
						<td>
							<h4>Title Ipsum <small>This is a note.</small></h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
							<a>Clickity Click &raquo;</a>
						</td>
					</tr>
				</table>

			<table>
				<tr>
					<td width="20%" style="vertical-align: top; padding-right:10px;"><img src="http://placehold.it/75x75" /></td>
					<td>
						<h4>Title Ipsum <small>This is a note.</small></h4>
						<p></p>
						<a>Clickity Click &raquo;</a>
					</td>
				</tr>
			</table>
			
			<table>
				<tr>
					<td>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt. <a href="#">Do it Now! &raquo;</a>	</p><!-- /callout panel -->
						
					</td>
				</tr>
			</table>

			<table>
				<tr>
					<td style="vertical-align: top; padding-right:10px;"><img src="http://placehold.it/75x75" /></td>
					<td>
						<h4>Title Ipsum <small>This is a note.</small></h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
						<a>Clickity Click &raquo;</a>
					</td>
				</tr>
			</table>
			


		</td>
		<td></td>
	</tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
	<tr>
		<td></td>
		<td class="container">
			
				<!-- content -->
				<div class="content">
					<table>
						<tr>
							<td align="center">
								<p>
									<a href="#">Terms</a> |
									<a href="#">Privacy</a> |
									<a href="#"><unsubscribe>Unsubscribe</unsubscribe></a>
								</p>
							</td>
						</tr>
					</table>
				</div><!-- /content -->
				
		</td>
		<td></td>
	</tr>
</table><!-- /FOOTER -->

</body>
</html>
