{% extends 'mail/base.html.twig' %}

{% block body %}
<p>Beste {{ user.name }},</p>

<p>er werd een nieuw paswoord voor je ingesteld.</p>

<p>Paswoord: <strong>{{ password }}</strong></p>

<p><a href="{{ url_login }}">Login link</a></p>

{% endblock body %}

{% block unsubscribe %}{% endblock unsubscribe %}

