{%- trans_default_domain 'mail' -%}

{%- macro html_extend_link(days, lang_key, message, schema, user_id) -%}
<li>
    {{- context_url_open('messages_extend', mpp_ary(user_id, schema), {'id': message.id, 'days': days})|raw -}}
    {{- ('message_extend.' ~ lang_key)|trans -}}
    </a>
</li>
{%- endmacro html_extend_link -%}

{% macro text_extend_link(days, lang_key, message, schema, user_id) %}
{{ ('message_extend.' ~ lang_key)|trans|raw }}: {{ context_url('messages_extend', mpp_ary(user_id, schema), {'id': message.id, 'days': days})|raw }}
{% endmacro text_extend_link %}