{%- trans_default_domain 'mail' -%}

{%- macro html_extend_link(days, lang_key, message, schema, email_token) -%}
<li>
    {{- mail_link_open('messages', {'id': message.id, 'extend': days}, schema, email_token)|raw -}}
    {{- ('message_extend.' ~ lang_key)|trans -}}
    </a>
</li>
{%- endmacro html_extend_link -%}

{% macro text_extend_link(days, lang_key, message, schema, email_token) %}
{{ ('message_extend.' ~ lang_key)|trans|raw }}: {{ mail_url('messages', {'id': message.id, 'extend': days}, schema, email_token)|raw }}
{% endmacro text_extend_link %}