{% extends 'mail/base.html.twig' %}

{% block pretext %}{% endblock pretext %}

{% block body %}

<p>Account {{ user }} werd geactiveerd met een nieuw paswoord.</p>

{% if user_mail %}
<p>Er werd een E-mail verstuurd naar de gebruiker.</p>
{% else %}
<p>Er werd GEEN E-mail verstuurd omdat er geen E-mail adres bekend is voor de gebruiker.</p>
{% endif %}

{% endblock body %}

{% block accountinfo %}{% endblock accountinfo %}
{% block support %}{% endblock support %}
{% block unsubscribe %}{% endblock unsubscribe %}
