{% extends 'mail/base.html.twig' %}

{% block pretext %}{% endblock pretext %}

{% block body %}

<p><a href="{{ confirm_url }}">Klik hier om je bericht in het contactformulier te bevestigen.</a></p>

<p>Gelieve dit bericht te negeren indien je niet zelf het contactformulier van {{ group.name }} hebt ingevuld.</p>
<p>({{ contact_url }})</p>

{% endblock body %}

{% block accountinfo %}{% endblock accountinfo %}
{% block support %}{% endblock support %}
{% block unsubscribe %}{% endblock unsubscribe %}
