{%- extends 'config/base/config_form.html.twig' -%}

{%- block config_title_sub -%}
    <p>
        {{- 'config_landing_page.help'|trans -}}
    </p>
{%- endblock config_title_sub -%}

{%- block form_a -%}
    {{- form_row(form.landing_page, {
        'label': 'config_landing_page.landing_page.label',
        'pre_addon': {
            'fa': 'calendar',
        }
    }) -}}
{%- endblock form_a -%}
