<a href="#bulk_actions" class="btn btn-info btn-lg" title="{{- 'btn.bulk'|trans -}}">
    <i class="fa fa-envelope-o"></i>
    <span class="hidden-xs hidden-sm">
        &nbsp;
        {{- 'btn.bulk'|trans -}}
    </span>
</a>
