<div class="row">
<div class="col-md-12">

    <div class="card bg-info">
    <div class="card-body">

        <p>
            Hosting van gemeenschapsmuntsystemen op deze <a href="https://eland.letsa.net">eLAND server</a> wordt gratis en vrijblijvend aangeboden
            op basis van het principe van de 2 voeten: Gebruik het wanneer het nuttig is voor u. Indien niet, ga elders. Waarbij uw data steeds uw data blijft.
            Gebruik {% block contact_form_link %}het <a href="{{- path('index_contact') -}}">contactformulier</a>{% endblock contact_form_link %} bij interesse.
        </p>

    </div>
    </div>

</div>
</div>
