{%- if csv_en is defined -%}
    <a href="#" data-csv class="csv btn btn-info btn-lg" title="{{- 'btn.download_csv'|trans -}}">
        <i class="fa fa-file"></i>
    </a>
{%- endif -%}
{%- if local_admin_menu is defined -%}
    <div class="btn-group pull-right" role="group">
        <button type="button" class="btn btn-info btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-cog" title="Admin functies"></i>
            &nbsp;
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropleft">
            {%- for rt, dt in local_admin_menu -%}
                {%- include 'include/menu_item.html.twig' -%}
            {%- endfor -%}
        </ul>
    </div>
{%- endif -%}
