<a href="{%- if nav_id -%}{{- path(nav_route, nav_route_params|merge({'id': nav_id})) -}}"{%- else -%}#" disabled{%- endif %} class="btn btn-default btn-lg" title="{{- title|trans -}}">
    <i class="fa fa-{{- fa -}}"></i>
</a>
