<div class="btn-group ml-5p" role="group">
    {%- include 'include/nav_btn.html.twig' with {
        'nav_id': next_id,
        'title': 'nav.next',
        'fa': 'chevron-up'
    } -%}
    {%- include 'include/nav_btn.html.twig' with {
        'nav_id': prev_id,
        'title': 'nav.prev',
        'fa': 'chevron-down'
    } -%}
    {%- include 'include/nav_overview_btn.html.twig' -%}
</div>
