{%- extends 'base/navbar.html.twig' -%}

{%- set active_menu = 'support' -%}

{%- block heading_sub -%}
    <p>
    {{- 'support.explain'|trans({
        '%system_name%': config('systemname', schema)
    }) -}}
    </p>
{%- endblock heading_sub -%}

{%- block content -%}

    {%- include 'include/send_message_cc.html.twig' with {'form': form, 'can_reply' : can_reply} -%}

{%- endblock content -%}

{%- block css -%}
    {{- parent() -}}
{%- endblock css -%}

{%- block js -%}
    {{- parent() -}}
{%- endblock js -%}