<div class="pull-right">
    &nbsp;
    <button class="btn btn-default hidden-xs" data-toggle="collapse" data-target="#filter">
        <i class="fa fa-caret-down"></i>
        &nbsp;
        {{- 'label.filters'|trans -}}
    </button>
</div>