{%- trans_default_domain 'mail' -%}
{%- apply inky_to_html|inline_css(source('@style/foundation-email.css'), source('@style/eland-email.css')) -%}

<wrapper class="wrapper">
    <container>
        {%- block no_reply -%}{%- endblock -%}
        <spacer size="16"></spacer>
        <row>
            <columns>
            <h1>
                {%- block header -%}{%- endblock -%}
            </h1>
            {%- block sub_header -%}{%- endblock -%}
            </columns>
        </row>
        <spacer size="16"></spacer>
        {%- block content -%}{%- endblock -%}
        {%- block sender_info_footer -%}{%- endblock -%}
        {%- block account_info_footer -%}{%- endblock -%}
        {%- block unsubscribe_info_footer -%}{%- endblock -%}
        {%- block system_info_footer -%}{%- endblock -%}
        {%- block admin_info_footer -%}{%- endblock -%}
        <row>
            <columns class="eland-footer">
                <spacer size="16"></spacer>
                <center>
                    <a href="{{- url('index') -}}">
                        {{- 'index.link'|trans -}}
                    </a>
                </center>
                <spacer size="16"></spacer>
            </columns>
        </row>
    </container>
</wrapper>
{%- endapply -%}