<div class="jssor-container position-relative overflow-hidden" data-jssor-model data-no-touchswipe>
    <div data-u="slides" class="jssor-slides position-absolute overflow-hidden">
    </div>
    {# skin bullet 31 #}
    <div data-u="navigator" class="jssorb031" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
        <div data-u="prototype" class="i">
            <svg viewBox="0 0 16000 16000">
                <circle class="b" cx="8000" cy="8000" r="5800"></circle>
            </svg>
        </div>
    </div>
    {# /skin bullet #}
    {# skin arrow 55 #}
    <div data-u="arrowleft" class="jssora055 jssora055-left" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
        <svg viewBox="0 0 16000 16000">
            <polyline class="a" points="11040,1920 4960,8000 11040,14080 "></polyline>
        </svg>
    </div>
    <div data-u="arrowright" class="jssora055 jssora055-right" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
        <svg viewBox="0 0 16000 16000">
            <polyline class="a" points="4960,1920 11040,8000 4960,14080 "></polyline>
        </svg>
    </div>
    {# /skin arrow 55 #}
</div>

<div data-jssor-slide-model>
    <img data-u="image" data-src="">
</div>
