<li class="dropdown">
	<a href="#" class="dropdown-toggle{%- block menu_class -%}{%- endblock -%}" data-toggle="dropdown" role="button" aria-expanded="false">
		<span class="fa fa-{%- block fa -%}{%- endblock -%}"></span>&nbsp;{%- block label -%}{%- endblock -%}&nbsp;<span class="caret"></span>
	</a>
	<ul class="dropdown-menu" role="menu">
        {%- block menu_items -%}
        {%- endblock -%}
	</ul>
</li>
