<div class="py-5" data-no-image{%- block attr -%}{%- endblock -%}>
    <div class="text-center">
        <i class="fa fa-image fa-5x"></i>
        <p>
            {%- block help -%}{%- endblock -%}
        </p>
    </div>
</div>
