
<div class="card card-default printview mb-3">
    <div class="card-body">
        {%- block post_content -%}{%- endblock -%}
    </div>
    <div class="card-footer">
        <p>
            {%- block post_info -%}{%- endblock -%}
            {%- block post_buttons -%}{%- endblock -%}
        </p>
    </div>
</div>
