<div class="panel panel-default printview">
    <div class="panel-body">
        {%- block media -%}
            <div class="media">
                {%- block media_left -%}
                {%- endblock media_left -%}
                <div class="media-body">
                    {%- block media_heading -%}
                    {%- endblock media_heading -%}
                    {%- block content -%}
                        {{- post.content|raw -}}
                    {%- endblock content -%}
                </div>
            </div>
        {%- endblock media -%}
    </div>
    <div class="panel-footer">
        {%- block footer_top -%}
        {%- endblock footer_top -%}
        <p>
            {%- block info -%}
                {{- 'post.info'|trans({
                    'user': account(post.user_id, schema)|link('users_show', {'id': post.user_id}),
                    'created_at': post.created_at|date_format('min', schema),
                    'edit_count': post.edit_count
                })|raw -}}
            {%- endblock info -%}

            {%- block actions -%}
                {%- if pp_has_role('admin') or su_is_owner(post.user_id) -%}
                    <span class="pull-right">
                        {%- block edit_btn -%}
                        {%- endblock edit_btn -%}
                        {%- block del_btn -%}
                        {%- endblock del_btn -%}
                    </span>
                {%- endif -%}
            {%- endblock actions -%}
        </p>
    </div>
</div>
