<div class="card fcard fcard-info mb-2">
 <div class="card-body">
  <form method="get">
   <div class="row">
    <div class="col">
     <div class="input-group">
      <span class="input-group-prepend">
       <span class="input-group-text">
        <i class="fa fa-search"></i>
       </span>
      </span>
      <input type="text" class="form-control" id="q" name="q" value="{%- block value -%}{%- endblock -%}" placeholder="{{- 'label.search'|trans -}}">
     </div>
    </div>
   </div>
  </form>
 </div>
</div>
