<div class="panel panel-default printview">
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover footable csv" data-filter="#q" data-filter-minimum="1">
            <thead>
                <tr>
                    {%- block thead -%}
                    {%- endblock thead -%}
                </tr>
            </thead>
            <tbody>
                {%- block tbody -%}
                {%- endblock tbody -%}
            </tbody>
        </table>
    </div>
</div>
