<div class="table-responsive border border-secondary-li rounded mb-3">
 <table class="table table-bordered mb-0 table-striped table-hover bg-default" data-filter="#q" data-filter-minimum="1" data-footable data-csv>
  <thead>
   <tr>
       {%- block thead -%}{%- endblock -%}
   </tr>
  </thead>
  <tbody>
   {%- block tbody -%}{%- endblock -%}
  </tbody>
 </table>
</div>
