{%- extends 'config/base/config_base.html.twig' -%}

{%- block content -%}
    <div class="panel panel-info">
        {%- include 'config/include/config_header.html.twig' -%}
        <div class="panel-heading">
            {%- block pane_content -%}
            {%- endblock pane_content -%}
        </div>
    </div>
{%- endblock content -%}
