<div class="col-sm-3 col-md-2 mb-2"{%- block attr -%}{%- endblock %}>
    <div class="card">
        <img class="card-img-top" src="{%- block src -%}{%- endblock -%}" alt="{{- 'label.image'|trans -}}">
        <div class="card-body">
            <p>
                <span class="btn btn-danger" title="{{- 'btn.delete'|trans -}}" role="button" data-fileupload-btn-delete>
                    <i class="fa fa-times"></i>
                </span>
            </p>
        </div>
    </div>
</div>
