{%- set cat_filter = category == null ? 'null' : category.id -%}
{%- set cat_select = category == null ? 'none' : (category.parent_name == null ? 'cat' : 'parent') -%}
<div class="d-flex justify-content-between">
<p class="label-md">{{- 'label.category'|trans -}}:
  <strong>
    <i>
      <a href="{{- path('messages'|var_route, pp_ary()|merge({'f':{'cat': cat_filter}})) -}}">
        {{- 'messages_show.category.info'|trans({
            'cat_select': cat_select,
            'name': category.name ?? '',
            'parent_name': category.parent_name ?? '',
        }) -}}
      </a>
    </i>
  </strong>
</p>

{%- if pp_is_admin() or su_is_owner(user.id) -%}
<div class="pull-right">
    {%- include 'include/btn/edit.html.twig' with {
        'btn_route': 'messages_category_edit',
        'btn_route_params': {'id': id},
        'btn_title': 'messages_category_edit.btn',
        'btn_label_hidden': 'sm',
        'btn_lg': true,
    } -%}
</div>
{%- endif -%}
</div>
