
<div class="panel panel-default">
  <div class="panel-body img-upload">
    <div id="no_images" class="text-center center-body">
      <i class="fa fa-image fa-5x"></i>
      <p>
        {{- 'messages_show.images.none'|trans({
          'offer_want': message.offer_want,
        }) -}}
      </p>
    </div>
    <div id="images_con" data-images="{{-  {'base_url': s3(), 'files': image_files}|json_encode -}}">
    </div>
  </div>
  {%- if pp_is_admin() or su_is_owner(message.user_id) -%}

  <div class="panel-footer">

    {%- if image_files -%}

    {%- include 'include/btn/edit.html.twig' with {
        'btn_route': 'messages_images_edit',
        'btn_route_params': {'id': id},
        'btn_class': ' btn-lg btn-block',
        'btn_label': 'messages_images_edit.btn',
    } -%}

    {%- else -%}

    {%- include 'include/btn/add.html.twig' with {
      'btn_route': 'messages_images_add',
      'btn_route_params': {'id': id},
      'btn_class': ' btn-lg btn-block',
      'btn_label': 'messages_images_add.btn',
    } -%}

    {%- endif -%}
  </div>

  {%- endif -%}
</div>