.fcard {
    border: $card-border-width solid transparent;

    label {
        font-weight: $font-weight-bold;
    }
    code {
        background-color: $b-white;
    }
}

@mixin fcard-variant($background, $border, $color) {

    color: lighten($color, 10%);

    @include gradient-bg(darken($background, 3%));

    border-color: $border;

    hr {
        border-top-color: darken($border, 20%);
    }
}

@each $color, $value in $theme-colors {
    .fcard-#{$color} {
        @include fcard-variant(theme-color-level($color, $alert-bg-level), theme-color-level($color, $alert-border-level), theme-color-level($color, $alert-color-level));
    }
}
