/* extra labels */

.label-offer {
    background-color: #f8f8f8;
    color:#666;
    border: 1px solid #bbb;
}

.label-want {
    background-color: #888;
    color:#fff;
    border: 1px solid #888;
}

.label-sm {
  font-size: 12px;
}

.label-good {
    background-color: #ddd;
    color:#555;
    border: 1px solid #ddd;
}

.label-service {
    background-color: #ddd;
    color:#555;
    border: 1px solid #ddd;
}

/***for inputs of horizontal form******/

.margin-bottom
{
  margin-bottom: 10px;
}


/** input sm **/

.sm-size {
    width: 5em;
}

/** **/

div.pan-sub, div.pan-sab {
border-radius: 5px;
border: 1px solid #99a;
padding: 2px 5px;
margin: 5px 0;
}

div.pan-sub {
  background: rgba(22, 31, 168, 0.1);
}

div.pan-sab {
background: rgba(255, 255, 255, 0.2)
}

/** **/

span.num {
    font-weight: bold;
}
