body
{
  background-color: #f9f9ff;
}

body.admin
{
  background-color: #f3fcff;
}

body.guest
{
  background-color: #fffbf3;
}

body.body-navbar {
  padding-top: 4rem;
}

.footer {
  position: relative;
  margin-top: 50px;
  height: 100px;
  clear:both;
  padding-top: 20px;
  text-align: center;
  border-top: 1px solid #d4d4d4;
  background-color: #f5f5f5;
}

div.alert
{
	margin-top: 5px;
}

div.top-buttons
{
	margin-top: 5px;
}

div.top-buttons a, span.inline-buttons a
{
	margin-left: 5px;
}

div.pag
{
	padding-left: 10px;
}

.text-extern
{
  color: #dfbbdc;
}

/*** group menu highlight ****/

a.active-group, a.active-group:link,
a.active-group:hover, a.active-group:visited
{
  background-color: #FFC765;
}

/***** users map ******/

div.users_map {
	height: 400px;
}

div.eland-index {
  background-image: url('/img/index.png');
  background-repeat: repeat;
  background-position: center;
  background-size: 30rem;
}

div.eland-jumbo {
  position: relative;
}

div.eland-jumbo-image {
  position: relative;
  margin-bottom: 0;
}

div.eland-contact, div.eland-exception {
    position: absolute;
    bottom: -4em;
    right: 2em;
    width: 10em;
    height: 15em;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-position: bottom right;
}

div.eland-contact {
  background-image: url('/img/contact.png');
  background-size: 6.5em;
}

div.eland-exception {
  background-image: url('/img/exception.png');
  background-size: 9em;
}

.logo {
padding-right: 1rem;
height: 2.5rem;
margin-top: -1rem;
margin-bottom: -1rem;
}

.nav-config-only a {
color: #777;
background-color: #f5f5f5;
}
.nav-config-only a:hover {
color: #444;
background-color: #eee;
}
li.nav-config-only.active a,
li.nav-config-only.active a:hover{
background-color: #777;
}
