/*
 * Style tweaks
 */
html,body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
    padding-top: 60px;
/*    background-color: #e8e8f3; */
}

footer {
    padding-top: 60px;
}

/*
* Off Canvas
* ----------
*/

.row-offcanvas {
    position: relative;
}

.menu-offcanvas {
    position: fixed;
    width: 12rem;
}

.sidebar-offcanvas{
    width: 12rem;
}

div.content-container-overlay{
    position: absolute;
    width: 0;
    height: 0;
}

@media screen and (max-width: 767px) {
    .menu-offcanvas {
        left: -12rem;
        transition: all .3s ease-out;
        background: white;
        z-index: 1200;
    }

    .sidebar-offcanvas {
        width: 0;
    }

    .row-offcanvas.active .menu-offcanvas{
        left: 0;
    }

    .row-offcanvas.active .content-container-overlay{
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 10;
        width: 100%;
        height: 100%;
    }
}