{%- extends 'register/register_base.html.twig' -%}

{%- block content -%}

    {%- embed 'embed/card.html.twig' -%}
        {%- block card_type -%}success{%- endblock -%}
        {%- block body -%}

            <h2>
                {{- 'register_confirm_success.title'|trans -}}
            </h2>

            {{- static_content('register_form', 'success', schema)|raw -}}
        {%- endblock body -%}
    {%- endembed -%}

{%- endblock content -%}

{%- block css -%}
    {{- parent() -}}
{%- endblock css -%}

{%- block js -%}
    {{- parent() -}}
{%- endblock js -%}
