{%- extends 'transactions/base/transactions_base.html.twig' -%}
{%- if form is defined -%}
    {%- form_theme form 'form_3.html.twig' -%}
{%- endif -%}

{%- block content -%}

<div class="panel panel-info">
    <div class="panel-heading">

    {{- form_start(form) -}}
    <div class="custom-checkbox">

    {%- block form_content -%}
    {%- endblock -%}

    {{- form_widget(form.submit, {
        'label': 'Aanpassen',
        'attr': {'class': 'btn-primary btn-lg'},
        'translation_domain': false
    }) -}}

    <input type="hidden" name="form_token" value="{{ form_token }}">
    </div>
    {{- form_end(form) -}}

    </div>
</div>

{%- endblock content -%}
