/** tags **/
.tag-eland {
  border: 2px solid #555;
  color: #555;
  background-color: #eee;
}

/** list-group (tags,cats) **/
.list-group-striped div:nth-of-type(odd){
  background: #eee;
}
.list-group-hover div:hover{
  background: #ddd;
}
.grab {
  cursor: grab;
}