{%- extends 'base/base.html.twig' -%}

{%- block title -%}eLAND{%- endblock -%}
{%- block navbar -%}{%- endblock -%}

{%- block page_container -%}

	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<div class="container">

				<h1>eLAND Index</h1>
				<p>Server gemeenschapsmunten</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">

		{%- if schemas -%}
			{%- set systems_per_col = (schemas|length / 3)|round(0, 'ceil') -%}

			{%- for system, schema in schemas -%}
				{%- if not (loop.index0 % systems_per_col) -%}
				<div class="col-md-4">
					<div class="panel panel-info">
						<ul class="list-group">
				{%- endif -%}
							<li class="list-group-item">
								<a href="{{- path('home_system', {'system': system}) -}}">{{- config('systemname', schema) -}}</a>
							</li>
				{% if loop.last or not (loop.index % systems_per_col) -%}
						</ul>
					</div>
				</div>
				{%- endif -%}
			{%- endfor -%}

		{%- endif -%}
		</div>

	{%- embed 'include/hosting.html.twig' -%}
	{%- endembed -%}

	</div>

	<br><br>
{%- endblock page_container -%}

{%- block index_link -%}{%- endblock -%}
