.el-wrapper {
  background: #b3b3b3;
}
.el-footer {
  background: #e8e8e8;
}
.el-hr {
  background: #a7a7a7;
}
.el-bg1 {
  background: #eeeeee;
}
.el-bg2 {
  background: #dddddd;
}
.el-bl-red0 {
  border-left: 5px solid #c1a0a0;
}
.el-bl-yellow0 {
  border-left: 5px solid #c1bea0;
}
.el-bl-green0 {
  border-left: 5px solid #a4c1a0;
}
.el-bl-cyan0 {
  border-left: 5px solid #a0bfc1;
}
.el-bl-blue0 {
  border-left: 5px solid #a0a2c1;
}
.el-bl-violet0 {
  border-left: 5px solid #c1a0b9;
}
.el-bl-pink0 {
  border-left: 5px solid #ff4488;
}
.el-message {
  background: #ededed;
  border-left: 5px solid #c3c3c3;
}
.el-mb0 {
  margin-bottom: 0;
  Margin-bottom: 0;
}