<dvi class="card-header">
    <h4>
        {%- block form_header_title -%}
            {{- config_tab_menu[app.request.attributes.get('_route')]|trans -}}
        {%- endblock form_header_title -%}
    </h4>
</dvi>