
div.row-offcanvas
{
  height:100%;
}

body
{
  background-color: #f9f9ff;
  overflow-x: hidden;
}

body.body-navbar
{
  padding-top: 50px;
}

body.admin
{
  background-color: #f3fcff;
}

body.guest
{
  background-color: #fffbf3;
}

#sidebar
{
  width: inherit;
  min-width: 160px;
  max-width: 160px;
  float: left;
  height: 100%;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

#sidebar ul.admin {
	background-color: #ffefee;
}
#sidebar ul.admin li.active a{
	background-color: #d9534f;
}

#main
{
	height: 100%;
	overflow: auto;
}

@media screen and (max-width: 768px)
{
  .row-offcanvas
  {
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .sidebar-offcanvas
  {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -160px;
    z-index: 1050;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0,0,0,0.2);
    transition: left 0.25s ease-out;
    float: none;
  }

  .active .sidebar-offcanvas {
    left: 0;
  }

  .offcanvas-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040;
    display: none;
  }

  .active .offcanvas-backdrop {
    display: block;
  }

}

div.navbar-header a.navbar-brand img
{
	margin-right: 20px;
}

div.navbar-header ul.nav
{
	margin-right: 20px;
}

.footer {
  position: relative;
  clear:both;
  padding-top: 20px;
  text-align: center;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 150px; /* this needs to be bigger than footer height*/
}
