<li class="list-group-item{% block class %}{% endblock %}">
    <div class="d-flex justify-content-between">
        <div>
            <dl class="mb-1">
                {%- block item -%}
                {%- endblock item -%}
            </dl>
        </div>
        <div>
            {%- block btn -%}
            {%- endblock btn -%}
        </div>
    </div>
</li>