<li class="list-group-item align-content-between{% block class %}{% endblock %}">
    <div>
        <dl class="mb-1">
            {%- block item -%}
            {%- endblock item -%}
        </dl>
    </div>
    <div>
        {%- block btn -%}
        {%- endblock btn -%}
    </div>
</li>