{%- trans_default_domain 'mail' -%}
<p>
    {{- 'subscribed.admin'|trans({
        '%link_open%': context_url_open('config',
            mpp_admin_ary,
            {'tab': 'mail-addr'}),
        '%link_close%': '</a>',
    })|raw -}}
</p>
