{%- trans_default_domain 'mail' -%}
<p>
    {{- 'subscribed.news_admin'|trans({
        '%link_open%': context_url_open('config',
            {'system': pp_ary.system, 'role_short': 'a'},
            {'tab': 'mailaddresses', 'et': et}),
        '%link_close%': '</a>',
    })|raw -}}
</p>
