{%- trans_default_domain 'mail' -%}
<p>
    {{- 'subscribed.news_admin'|trans({
        '%link_open%': mail_link_open('config', {'tab': 'mailaddresses'}, schema, email_token),
        '%link_close%': '</a>',
    })|raw -}}
</p>
