{%- trans_default_domain 'mail' -%}
<p>
    {{- 'subscribed.support'|trans({
        '%link_open%': context_url_open(
            'config', pp_admin_ary,
            {'tab': 'mailaddresses', 'et': et}),
        '%link_close%': '</a>',
    })|raw -}}
</p>
