{%- extends 'base/base.html.twig' -%}

{%- block title -%}eLAND{%- endblock -%}
{%- block navbar -%}{%- endblock -%}

{%- block page_container -%}

	<div class="jumbotron">
		<div class="container">

		<h1>eLAND index</h1>
		<p>Server gemeenschapsmunten</p>
		</div>
	</div>


	<div class="row">

	{%- if systems -%}
		{%- set systems_per_col = (systems|length / 3)|round(0, 'ceil') -%}

		{%- for s in systems -%}
			{%- if not (loop.index0 % systems_per_col) -%}
			<div class="col-md-4">
				<div class="panel panel-info">
					<ul class="list-group">
			{%- endif -%}
						<li class="list-group-item">
							<a href="{{- path('home_system', {'system': s}) -}}">{{- config('systemname', s) -}}</a>
						</li>
			{% if loop.last or not (loop.index % systems_per_col) -%}
					</ul>
				</div>
			</div>
			{%- endif -%}
		{%- endfor -%}

	{%- endif -%}
	</div>

	<br><br>
{%- endblock page_container -%}

{%- block index_link -%}{%- endblock -%}
