{%- extends 'messages/base/messages_base.html.twig' -%}

{%- block heading_title -%}
    {%- set heading_title_trans_key = 'messages_images_del.title.'
        ~ message.offer_want -%}

    {{- heading_title_trans_key|trans({
        '%subject%': message.subject
    }) -}}
{%- endblock heading_title -%}

{%- block heading_sub -%}
    <h2>
    {{- 'messages_images_del.user'|trans({
        '%user%': account(message.user_id, schema)|link('users_show', {'id': message.user_id})
    })|raw -}}
    </h2>
{%- endblock heading_sub -%}

{%- block css -%}
    {{- parent() -}}
{%- endblock css -%}

{%- block js -%}
    {{- parent() -}}
{%- endblock js -%}