{% extends 'mail/base.html.twig' %}

{% block pretext %}<p><i>Niet beantwoorden a.u.b.</i></p>{% endblock pretext %}

{% block body %}
<p><strong><a href="{{ token_url }}">Klik hier om je paswoord te resetten</a></strong></p>

<p>Let op: deze link blijft slechts 1 uur geldig.</p>

<p>Gelieve deze E-mail te negeren indien je niet zelf deze paswoord reset aangevraagd hebt op de website.</p>

{% endblock body %}

{% block unsubscribe %}{% endblock unsubscribe %}
