{% extends 'mail/base.html.twig' %}

{% block pretext %}{% endblock pretext %}

{% block body %}

<p><a href="{{ confirm_url }}">Klik hier om je inschrijving te bevestigen.</a></p>

<p>Deze link blijft 1 week geldig.</p>

{% endblock body %}

{% block accountinfo %}{% endblock accountinfo %}
{% block support %}{% endblock support %}
{% block unsubscribe %}{% endblock unsubscribe %}
