
/*typeahead
 * adapted from
 * https://github.com/bassjobsen/typeahead.js-bootstrap-css/blob/master/typeaheadjs.css
 */

span.twitter-typeahead .tt-menu,
span.twitter-typeahead .tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 300px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 16px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
span.twitter-typeahead .tt-suggestion {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.5;
  color: #333333;
  white-space: nowrap;
}
span.twitter-typeahead .tt-suggestion.tt-cursor,
span.twitter-typeahead .tt-suggestion:hover,
span.twitter-typeahead .tt-suggestion:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #337ab7;
}

.input-group.input-group-lg span.twitter-typeahead .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.input-group.input-group-sm span.twitter-typeahead .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
span.twitter-typeahead {
  width: 100%;
}
.input-group span.twitter-typeahead {
  display: block !important;
  height: 34px;
}
.input-group span.twitter-typeahead .tt-menu,
.input-group span.twitter-typeahead .tt-dropdown-menu {
  top: 32px !important;
}
.input-group span.twitter-typeahead:not(:first-child):not(:last-child) .form-control {
  border-radius: 0;
}
.input-group span.twitter-typeahead:first-child .form-control {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group span.twitter-typeahead:last-child .form-control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.input-group.input-group-sm span.twitter-typeahead {
  height: 30px;
}
.input-group.input-group-sm span.twitter-typeahead .tt-menu,
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
  top: 30px !important;
}
.input-group.input-group-lg span.twitter-typeahead {
  height: 46px;
}
.input-group.input-group-lg span.twitter-typeahead .tt-menu,
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
  top: 46px !important;
}

/********************colors typeahead******************/

p.success.tt-suggestion, .bg-success
{
	background-color: #dff0d8;;
}

p.danger.tt-suggestion, .bg-danger
{
	background-color: #f2dede;
}
p.warning.tt-suggestion, .bg-warning
{
	background-color: #fcf8e3;
}
p.info.tt-suggestion, .bg-info
{
	background-color: #d9edf7;
}
p.inactive.tt-suggestion, .bg-inactive
{
	background-color: #ddd;
}
p.extern.tt-suggestion, .bg-extern
{
  background-color: #ffdbfc;
}

.tt-suggestion.tt-cursor a
{
  color: #fff;
}

.tt-suggestion
{
  margin: 0;
  padding: 2px 5px 2px 10px;
}


/******************************************************/

body,html,.row-offcanvas
{
  height:100%;
}

body
{
  padding-top: 50px;
  background-color: #f9f9ff;
}

body.admin
{
  background-color: #f3fcff;
}

body.guest
{
  background-color: #fffbf3;
}

#sidebar
{
  width: inherit;
  min-width: 160px;
  max-width: 160px;
  float: left;
  height: 100%;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

#sidebar ul.admin {
	background-color: #ffefee;
}
#sidebar ul.admin li.active a{
	background-color: #d9534f;
}

#main
{
	height: 100%;
	overflow: auto;
}

@media screen and (max-width: 768px)
{
  .row-offcanvas
  {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    width: calc(100% + 160px);
  }

  .row-offcanvas-left
  {
    left: -160px;
  }

  .row-offcanvas-left.active
  {
    left: 0;
  }

  .sidebar-offcanvas
  {
    position: absolute;
    top: 0;
  }
}

div.navbar-header a.navbar-brand img
{
	margin-right: 20px;
}

div.navbar-header ul.nav
{
	margin-right: 20px;
}

.footer {
  position: relative;
  margin-top: -50px; /* negative value of footer height */
  height: 100px;
  clear:both;
  padding-top: 20px;
  text-align: center;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 150px; /* this needs to be bigger than footer height*/
}

div.alert
{
	margin-top: 5px;
}

div.top-buttons
{
	margin-top: 5px;
}

div.top-buttons a, span.inline-buttons a
{
	margin-left: 5px;
}

/** nav-tabs **/

.nav-tabs
{
   border-bottom: 0px;
   margin-bottom: 5px;
}

.nav-tabs > li > a
{
  border-bottom: 2px solid grey;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus
{
  border: 2px solid grey;
  border-bottom-color: transparent;
}

.nav-tabs > li.active > a.bg-danger,
.nav-tabs > li.active > a.bg-danger:focus,
div.bg-danger > div.thumbnail
{
  background-color: #f2dede;
}

.nav-tabs > li > a.bg-danger:hover
{
  background-color: #e4b9b9;
}

.nav-tabs > li.active > a.bg-success,
.nav-tabs > li.active > a.bg-success:focus,
div.bg-success > div.thumbnail
{
  background-color: #dff0d8;
}

.nav-tabs > li > a.bg-success:hover
{
  background-color: #c1e2b3;
}

.nav-tabs > li.active > a.bg-warning,
.nav-tabs > li.active > a.bg-warning:focus,
div.bg-warning > div.thumbnail
{
  background-color: #fcf8e3;
}
.nav-tabs > li > a.bg-warning:hover
{
  background-color: #faf2cc;
}

.nav-tabs > li.active > a.bg-info,
.nav-tabs > li.active > a.bg-info:focus,
div.bg-info > div.thumbnail
{
  background-color: #d9edf7;
}

.nav-tabs > li > a.bg-info:hover
{
  background-color: #c4e3f3;
}

.nav-tabs > li > a.bg-extern,
.nav-tabs > li > a.bg-extern:focus,
table tr.extern > td,
div.bg-extern > div.thumbnail
{
  background-color: #ffdbfc;
}

.nav-tabs > li:not(.active) > a.bg-extern:hover,
table tr.extern:hover > td
{
  background-color: #ffd0f1;
}

.nav-tabs > li > a.bg-inactive,
.nav-tabs > li > a.bg-inactive:focus,
table tr.inactive > td,
div.bg-inactive > div.thumbnail
{
  background-color: #d8d8d8;
}

.nav-tabs > li:not(.active) > a.bg-inactive:hover,
table tr.inactive:hover > td
{
  background-color: #d0d0d0;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus
{
  border-bottom-color: #777;
}

div.pag
{
	padding-left: 10px;
}

.text-extern
{
  color: #dfbbdc;
}

/*** group menu highlight ****/

li.active-group a, li.active-group a:link,
li.active-group a:visited, li.active-group a:hover
{
  background-color: #FFC765;
}

/* extra labels */

.label-offer {
    background-color: #f8f8f8;
    color:#666;
    border: 1px solid #bbb;
}

.label-want {
    background-color: #888;
    color:#fff;
    border: 1px solid #888;
}

.label-sm {
  font-size: 12px;
}

.label-good {
    background-color: #ddd;
    color:#555;
    border: 1px solid #ddd;
}

.label-service {
    background-color: #ddd;
    color:#555;
    border: 1px solid #ddd;
}

/***for inputs of horizontal form******/

.margin-bottom
{
  margin-bottom: 10px;
}

/********************/

/* jssor slider bullet navigator skin 01 css */

.jssorb01
{
	position: absolute;
}
.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av
{
	position: absolute;
	/* size of bullet element */
	width: 12px;
	height: 12px;
	filter: alpha(opacity=70);
	opacity: .7;
	overflow: hidden;
	cursor: pointer;
	border: #000 1px solid;
}
.jssorb01 div { background-color: gray; }
.jssorb01 div:hover, .jssorb01 .av:hover { background-color: #d3d3d3; }
.jssorb01 .av { background-color: #fff; }
.jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; }

/* jssor slider arrow navigator skin 01 css */

.jssora02l, .jssora02r {
	display: block;
	position: absolute;
	/* size of arrow element */
	width: 55px;
	height: 55px;
	cursor: pointer;
	background: url('a03.png') no-repeat;
	overflow: hidden;
}
.jssora02l { background-position: -3px -33px; }
.jssora02r { background-position: -63px -33px; }
.jssora02l:hover { background-position: -123px -33px; }
.jssora02r:hover { background-position: -183px -33px; }
.jssora02l.jssora02ldn { background-position: -3px -33px; }
.jssora02r.jssora02rdn { background-position: -63px -33px; }

/**/

div.users_map {
	height: 400px;
}

div.user_map {
	height: 300px;
}

/** jqplot **/

.jqplot-target {
    position: relative;
    color: #666666;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.jqplot-axis {
    font-size: 0.75em;
}

.jqplot-xaxis {
    margin-top: 10px;
}

.jqplot-x2axis {
    margin-bottom: 10px;
}

.jqplot-yaxis {
    margin-right: 10px;
}

.jqplot-y2axis, .jqplot-y3axis, .jqplot-y4axis, .jqplot-y5axis, .jqplot-y6axis, .jqplot-y7axis, .jqplot-y8axis, .jqplot-y9axis, .jqplot-yMidAxis {
    margin-left: 10px;
    margin-right: 10px;
}

.jqplot-axis-tick, .jqplot-xaxis-tick, .jqplot-yaxis-tick, .jqplot-x2axis-tick, .jqplot-y2axis-tick, .jqplot-y3axis-tick, .jqplot-y4axis-tick, .jqplot-y5axis-tick, .jqplot-y6axis-tick, .jqplot-y7axis-tick, .jqplot-y8axis-tick, .jqplot-y9axis-tick, .jqplot-yMidAxis-tick {
    position: absolute;
    white-space: pre;
}


.jqplot-xaxis-tick {
    top: 0px;
    left: 15px;
    vertical-align: top;
}

.jqplot-x2axis-tick {
    bottom: 0px;
    left: 15px;
    vertical-align: bottom;
}

.jqplot-yaxis-tick {
    right: 0px;
    top: 15px;
    text-align: right;
}

.jqplot-yaxis-tick.jqplot-breakTick {
    right: -20px;
    margin-right: 0px;
    padding:1px 5px 1px 5px;
    z-index: 2;
    font-size: 1.5em;
}

.jqplot-y2axis-tick, .jqplot-y3axis-tick, .jqplot-y4axis-tick, .jqplot-y5axis-tick, .jqplot-y6axis-tick, .jqplot-y7axis-tick, .jqplot-y8axis-tick, .jqplot-y9axis-tick {
    left: 0px;
    top: 15px;
    text-align: left;
}

.jqplot-yMidAxis-tick {
    text-align: center;
    white-space: nowrap;
}

.jqplot-xaxis-label {
    margin-top: 10px;
    font-size: 11pt;
    position: absolute;
}

.jqplot-x2axis-label {
    margin-bottom: 10px;
    font-size: 11pt;
    position: absolute;
}

.jqplot-yaxis-label {
    margin-right: 10px;
    font-size: 11pt;
    position: absolute;
}

.jqplot-yMidAxis-label {
    font-size: 11pt;
    position: absolute;
}

.jqplot-y2axis-label, .jqplot-y3axis-label, .jqplot-y4axis-label, .jqplot-y5axis-label, .jqplot-y6axis-label, .jqplot-y7axis-label, .jqplot-y8axis-label, .jqplot-y9axis-label {
    font-size: 11pt;
    margin-left: 10px;
    position: absolute;
}

.jqplot-meterGauge-tick {
    font-size: 0.75em;
    color: #999999;
}

.jqplot-meterGauge-label {
    font-size: 1em;
    color: #999999;
}

table.jqplot-table-legend {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 12px;
    margin-right: 12px;
}

table.jqplot-table-legend, table.jqplot-cursor-legend {
    background-color: rgba(255,255,255,0.6);
    border: 1px solid #cccccc;
    position: absolute;
    font-size: 0.75em;
}

td.jqplot-table-legend {
    vertical-align:middle;
}

td.jqplot-seriesToggle:hover, td.jqplot-seriesToggle:active {
    cursor: pointer;
}

.jqplot-table-legend .jqplot-series-hidden {
    text-decoration: line-through;
}

div.jqplot-table-legend-swatch-outline {
    border: 1px solid #cccccc;
    padding:1px;
}

div.jqplot-table-legend-swatch {
    width:0px;
    height:0px;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 6px;
    border-right-width: 6px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
}

.jqplot-title {
    top: 0px;
    left: 0px;
    padding-bottom: 0.5em;
    font-size: 1.2em;
}

table.jqplot-cursor-tooltip {
    border: 1px solid #cccccc;
    font-size: 0.75em;
}


.jqplot-cursor-tooltip {
    border: 1px solid #cccccc;
    font-size: 0.75em;
    white-space: nowrap;
    background: rgba(208,208,208,0.8);
    padding: 1px;
}

.jqplot-highlighter-tooltip, .jqplot-canvasOverlay-tooltip {
    border: 1px solid #ddd;
    font-size: 0.75em;
    white-space: nowrap;
    background: rgba(240,240,240,0.9);
    padding: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.jqplot-point-label {
    font-size: 0.75em;
    z-index: 2;
}

td.jqplot-cursor-legend-swatch {
    vertical-align: middle;
    text-align: center;
}

div.jqplot-cursor-legend-swatch {
    width: 1.2em;
    height: 0.7em;
}

.jqplot-error {
/*   Styles added to the plot target container when there is an error go here.*/
    text-align: center;
}

.jqplot-error-message {
/*    Styling of the custom error message div goes here.*/
    position: relative;
    top: 46%;
    display: inline-block;
}

div.jqplot-bubble-label {
    font-size: 0.8em;
/*    background: rgba(90%, 90%, 90%, 0.15);*/
    padding-left: 2px;
    padding-right: 2px;
    color: rgb(20%, 20%, 20%);
}

div.jqplot-bubble-label.jqplot-bubble-label-highlight {
    background: rgba(90%, 90%, 90%, 0.7);
}

div.jqplot-noData-container {
    text-align: center;
    background-color: rgba(96%, 96%, 96%, 0.3);
}

/** loading icon **/

.ajax-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -60px;
  margin-top: -60px;
  z-index: 9999;
  display: none;
}

/** input sm **/

.sm-size {
  width: 5em;
}

/** **/

div.pan-sub {
	border-radius: 5px;
	border: 1px solid #99a;
	padding: 2px 5px;
	margin: 5px 0;
}

/** **/

span.num {
	font-weight: bold;
}
