/********************************/

div.outerfloat { 
 float:left; 
 margin: 20px 0 15px 0; 
 padding: 10px 0 40px 0; 
 width: 99%;
}

div.outerfloat div {
 float:left; 
 padding-right:10px;
}

div.outerfloat div table.data{
 margin: 2px 0 2px 0;
}

/********************************/
