ul.vertmenu {
list-style-type:none;
display:block;
font:bold 12px Helvetica, Verdana, Arial, sans-serif;
line-height:165%;
width:150px;
margin:0;
padding-left: 0;
padding-right: 0;
padding-top: 0;
padding-bottom: 20px;
}

ul.vertmenu li {
border-top:1px solid #262852;
margin:0;
padding:0;
}

ul.vertmenu li a {
display:block;
text-decoration:none;
color:#fff;
background: #35375c;
padding:0 0 0 20px;
}

ul.vertmenu li a:hover {
background:#8a8dd0 url(/gfx/arrow.gif) no-repeat 0 9px;
}

ul.hormenu {
padding-left: 0;
margin-left: 0;
background-color: #35375c;
color: White;
float: left;
font:bold 12px Helvetica, Verdana, Arial, sans-serif;
}

ul.hormenu li {
display: inline;
}

ul.hormenu li a {
padding: 0.2em 1em;
background-color: #35375c;
color: White;
text-decoration: none;
float: left;
border-right: 1px solid #fff;
}

ul.hormenu li a:hover {
background-color: #8a8dd0;
}


/**/

#header {
	cursor: pointer;
}

