body,html
{
  height:100%;
}

#main
{
	height: 100%;
	overflow: auto;
}

span, div.alert, ul, div.panel, .footer, div.navbar,
#sidebar, .print-hide, button, a.csv
{
	display: none;
}

td > span
{
	display: inherit;
}

td > span.label
{
	display: none;
}

a
{
	text-decoration: none;
	color: black;
}

table, th, td
{
	border: 1px solid black;
}

table
{
	border-collapse: collapse;
	width: 100%;
}

