{%- extends 'register_form/base/register_form_base.html.twig' -%}

{%- block heading_title -%}
    {{- 'register_form_confirm_success.title'|trans -}}
{%- endblock heading_title -%}

{%- block cms_edit_extra -%}

    {%- if pp_ary().edit is defined
        and s_role('admin')
        and is_s_system_self() -%}

        <div class="panel panel-info">
        <div class="panel-heading">
        <h3>
            {{- 'register_form_confirm_success.cms.email.title'|trans -}}
        </h3>
        <p>
            {{- 'register_form_confirm_success.cms.email.explain'|trans -}}
        </p>
        <div class="bg-white">
        {%- embed 'embed/static_content.html.twig' with {
            'with_role': false,
            'with_route': true
        } -%}
            {%- block block_name -%}mail{%- endblock -%}
            {%- block attr %}
                data-cms-edit-tpl-vars="voornaam,achternaam,postcode" data-cms-edit-mail
            {%- endblock attr -%}
        {%- endembed -%}
        </div>
        </div>
        </div>
    {%- endif -%}

{%- endblock cms_edit_extra -%}

{%- block content_top -%}
{%- endblock -%}

{%- block content -%}
    {%- embed 'embed/static_content.html.twig' with {
        'with_role': false,
        'with_route': true
    } -%}
        {%- block block_name -%}mid{%- endblock -%}
    {%- endembed -%}
{%- endblock content -%}

{%- block content_bottom -%}
{%- endblock -%}
