{%- extends 'base/navbar.html.twig' -%}

{%- block cms_edit_extra -%}

    {%- if pp_ary().edit is defined
        and s_role('admin')
        and is_s_system_self() -%}

        <div class="panel panel-info">
        <div class="panel-heading">
        <h3>Bevestigings E-mail (cms edit lokaal blok)</h3>
        <p>
            Deze E-mail wordt verzonden naar degene die zich inschrijft
            na een geslaagde inschrijving.
            Indien dit veld leeg is,
            wordt er geen E-mail verstuurd.
        </p>
        <div class="bg-white">
        {%- embed 'embed/static_content.html.twig' with {
            'with_role': false,
            'with_route': true
        } -%}
            {%- block block_name -%}mail{%- endblock -%}
            {%- block attr %} data-cms-edit-tpl-vars="voornaam,achternaam,postcode"{%- endblock -%}
        {%- endembed -%}
        </div>
        </div>
        </div>
    {%- endif -%}

{%- endblock cms_edit_extra -%}

{%- block content_top -%}
{%- endblock -%}

{%- block content -%}
    {%- embed 'embed/static_content.html.twig' with {
        'with_role': false,
        'with_route': true
    } -%}
        {%- block block_name -%}mid{%- endblock -%}
    {%- endembed -%}
{%- endblock content -%}

{%- block content_bottom -%}
{%- endblock -%}
