{% extends 'mail/base/base.twig' %}
{%- trans_default_domain 'mail' -%}

{%- block bgcolor_system_name -%}aa3300{%- endblock -%}

{% block html_content -%}
<p>
    {%- block html_explain -%}{%- endblock -%}
    {%- block html_reply -%}&nbsp;
        {{- 'reply.user'|trans({
            '%from_account%': account(from_user.id, from_schema),
            '%link_open%': context_url_open('users_show', mpp_ary(to_user.id, to_schema), {'id': from_user.id}),
            '%link_close%': '</a>'
        })|raw -}}
    {%- endblock html_reply -%}
</p>
<hr />
<p>
    {{- msg_content|nl2br -}}
</p>
<hr />
{%- endblock html_content -%}

{% block text_content %}
{% autoescape false %}
{% block text_explain %}{% endblock %}
{% block text_reply %}
{{ 'reply.user'|trans({
    '%from_account%': account(from_user.id, from_schema),
    '%link_open%': '',
    '%link_close%': ''
}) }}
{% endblock %}

- - - - - -

{{ msg_content }}

- - - - - -

{% endautoescape %}
{% endblock text_content %}
