{% extends 'mail/base/no_reply.twig' %}
{%- trans_default_domain 'mail' -%}

{%- block bgcolor_system_name -%}000000{%- endblock -%}

{% block html_content -%}
<p>
    {%- block html_explain -%}{%- endblock -%}
</p>
<hr />
<p>
    {{- msg_content|nl2br -}}
</p>
<hr />

{%- endblock html_content -%}

{% block text_content %}
{% autoescape false %}

{% block text_explain %}{% endblock %}

- - - - - -

{{ msg_content }}

- - - - - -

{% endautoescape %}
{% endblock text_content %}
