{% extends 'mail/base/base.twig' %}
{%- trans_default_domain 'mail' -%}

{%- block sub_header -%}private_msg.sub_header{%- endblock -%}
{%- block bgcolor_sub_header -%}eeddee{%- endblock -%}
{%- block bgcolor_system_name -%}660066{%- endblock -%}

{% block html_content -%}
    {%- set bgcolor_panel -%}
        {%- block bgcolor_panel -%}ffeeff{%- endblock -%}
    {%- endset -%}

    {%- set html_explain -%}
        {%- block html_explain -%}{%- endblock -%}
    {%- endset -%}

    {%- set html_reply -%}
        {%- block html_reply -%}
            {{- 'reply.user'|trans({
                '%from_account%': account(from_user.id, from_schema),
                '%link_open%': context_url_open('users_show', mpp_ary(to_user.id, to_schema), {'id': from_user.id}),
                '%link_close%': '</a>'
            })|raw -}}
        {%- endblock html_reply -%}
    {%- endset -%}

    {%- include 'mail/include/info_bgcolor_panel.html.twig' with {
        'info': html_explain|raw,
        'bgcolor': bgcolor_panel
    } -%}

    {%- include 'mail/include/info_bgcolor_panel.html.twig' with {
        'info': html_reply|raw,
        'bgcolor': bgcolor_panel
    } -%}

    {%- include 'mail/include/info_bgcolor_panel.html.twig' with {
        'info': '',
        'bgcolor': bgcolor_panel
    } -%}

    {%- include 'mail/include/spacer20.html.twig' -%}
    {%- include 'mail/include/info_panel.html.twig' with {
        'info': msg_content|nl2br
    } -%}
    {%- include 'mail/include/spacer20.html.twig' -%}
    {%- include 'mail/include/bgspacer40.html.twig' -%}
{%- endblock html_content -%}

{% block text_content %}
{% autoescape false %}
{% block text_explain %}{% endblock %}
{% block text_reply %}
{{ 'reply.user'|trans({
    '%from_account%': account(from_user.id, from_schema),
    '%link_open%': '',
    '%link_close%': ''
}) }}
{% endblock %}

- - - - - -

{{ msg_content }}

- - - - - -

{% endautoescape %}
{% endblock text_content %}
