{%- extends 'users/base/users_single_form.html.twig' -%}

{%- block heading_title -%}
    {%- if is_self -%}
        {{- 'users_image_del_self.title'|trans -}}
    {%- else -%}
        {{- 'users_image_del.title'|trans({
            'user': account(id, schema)|link('users_show', {'id': id})
        })|raw -}}
    {%- endif -%}
{%- endblock heading_title -%}

{%- block form_a -%}
    <div class="row">
        <div class="col-xs-6">
            <div class="thumbnail">
                <img src="{{- s3(user.image_file) -}}" class="img-rounded" alt="profile image">
            </div>
        </div>
    </div>
{%- endblock form_a -%}

{%- block form_submit_btn -%}
    {%- include 'form/submit_del_btn.html.twig' -%}
{%- endblock form_submit_btn -%}
