{%- extends 'base/navbar.html.twig' -%}

{%- block inner_container -%}

    {%- block content -%}{%- endblock -%}

    {%- block text_footer -%}{%- endblock -%}

    <footer>
        <div class="container-fluid text-center">
            <div class="col">
                <p>
                    {{- 'eland.explain'|trans({'%link_eland_open%': '<a href="http://letsa.net">', '%link_close%': '</a>'})|raw -}}
                </p>
                {%- block footer_extra -%}{%- endblock -%}
            </div>
        </div>
    </footer>

{%- endblock inner_container -%}
