<!DOCTYPE html>
<html>
<head>
<title>' . $app['config']->get('systemname') .'</title>

 $app['assets']->get_css();

<link type="text/css" rel="stylesheet" href="' . $rootpath . 'gfx/print.css" media="print">

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body

if ($s_schema)
{
	 data-elas-group-login="' . generate_url('ajax/elas_group_login', []) . '"
}

>

<img src="/gfx/loading.gif" class="ajax-loader">

<div class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">

<div class="navbar-header">

if (!$s_anonymous)
{
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	</button>
}

<a href="' . generate_url('messages', ['view' => $view_messages]) . '" class="pull-left hidden-xs">
<div class="logo"></div>
</a>

 aphp('messages', ['view' => $view_messages], $app['config']->get('systemname'), 'navbar-brand');

</div>

<div class="collapse navbar-collapse" id="navbar-collapse-1">
<ul class="nav navbar-nav navbar-right">

$count_interlets_groups = count($eland_interlets_groups) + count($elas_interlets_groups);

if (!$s_anonymous && ($count_interlets_groups + count($logins)) > 1)
{
	<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
	<span class="fa fa-share-alt"></span>
	Groep
	<span class="caret"></span></a>
	<ul class="dropdown-menu" role="menu">

	foreach ($logins as $login_schema => $login_id)
	{
		$class = ($s_schema == $login_schema && count($logins) > 1) ? ' class="active-group"' : '
		$class = ($login_schema == $app['this_group']->get_schema() && $login_schema == $s_schema) ? ' class="active"' : $class;

		<li
		 $class;
		>

		<a href="
		 $app['protocol'] . $app['groups']->get_host($login_schema) . '/' . $app['script_name'] . '.php?r=
		 ($login_id == 'elas') ? 'guest' : $app['session']->get('role.' . $login_schema);
		&u=' . $login_id;
		">

		 $app['config']->get('systemname', $login_schema);
		 ($login_id == 'elas') ? ' (eLAS gast login)' : ' (eigen groep)
		</a>
		</li>

	}

	if ($count_interlets_groups)
	{
		<li class="divider"></li>

		if (count($eland_interlets_groups))
		{
			foreach ($eland_interlets_groups as $sch => $h)
			{
				<li
				 ($app['this_group']->get_schema() == $sch) ? ' class="active"' : '
				>

				$page = (isset($allowed_interlets_landing_pages[$app['script_name']])) ? $app['script_name'] : 'messages

				<a href="' . generate_url($page,  ['welcome' => 1], $sch) . '">
				 $app['config']->get('systemname', $sch) . '</a>
				</li>
			}
		}

		if (count($elas_interlets_groups))
		{
			foreach ($elas_interlets_groups as $grp_id => $grp)
			{
				<li>
				<a href="#" data-elas-group-id="' . $grp_id . '">
				 $grp['groupname'] . '</a>
				</li>
			}
		}
	}

	</ul>
	</li>
}

if (!$s_anonymous)
{
	<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
	<span class="fa fa-user"></span>

	if ($s_master)
	{
		Master
	}
	else if ($s_elas_guest)
	{
		eLAS gast login
	}
	else if ($s_schema && $s_id)
	{
		 ($s_group_self) ? '' : $s_schema . '.
		 link_user($s_id, $s_schema, false);
	}

	<span class="caret"></span></a>
	<ul class="dropdown-menu" role="menu">
	if ($s_schema && !$s_master && !$s_guest)
	{
		<li><a href="' . generate_url('users', ['id' => $s_id], $s_schema) . '">
		<i class="fa fa-user"></i> Mijn gegevens
		</a></li>

		<li><a href="' . generate_url('messages', ['uid' => $s_id], $s_schema) . '">
		<i class="fa fa-newspaper-o"></i> Mijn vraag en aanbod
		</a></li>

		<li><a href="' . generate_url('transactions', ['uid' => $s_id], $s_schema) . '">
		<i class="fa fa-exchange"></i> Mijn transacties
		</a></li>

		<li class="divider"></li>
	}

	<li><a href="' . generate_url('logout', [], $s_schema) . '">
	<i class="fa fa-sign-out"></i> Uitloggen
	</a></li>

	</ul>
	</li>
	if ($s_admin)
	{
		$menu = [
			'status'						=> ['exclamation-triangle', 'Status'],
			'categories'	 				=> ['clone', 'Categorieën'],
			'type_contact'					=> ['circle-o-notch', 'Contact types'],
			'contacts'						=> ['map-marker', 'Contacten'],
			'settings'						=> ['gears', 'Instellingen'],
			'interlets'						=> ['share-alt', 'InterLETS'],
			'apikeys'						=> ['key', 'Apikeys'],
			'export'						=> ['download', 'Export'],
			'autominlimit'					=> ['arrows-v', 'Auto min limiet'],
			'mass_transaction'				=> ['exchange', 'Massa-Transactie'],
			'logs'							=> ['history', 'Logs'],
		];

		<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"
		role="button" aria-expanded="false">
		<span class="fa fa-cog"></span>
		Admin modus
		<span class="caret"></span></a>
		<ul class="dropdown-menu" role="menu">
		foreach ($menu as $link => $item)
		{
			$active = ($app['script_name'] == $link) ? ' class="active"' : '
			<li' . $active . '>
			 aphp($link, [], $item[1], false, false, $item[0]);
			</li>
		}
		<li class="divider"></li>
		$user_url = ($page_access == 'admin') ? 'messages.php' : parse_url($_SERVER['REQUEST_URI'], PHP_URL_PATH);
		$get_params = $_GET;
		$get_params['r'] = 'user
		<li>
		<a href="' . $user_url . '?' . http_build_query($get_params) . '"><i class="fa fa-times"></i>
		 Admin modus uit</a>
		</li>
		</ul>
		</li>
	}
	else if ($s_group_self && ((isset($session_user) && $session_user['accountrole'] == 'admin') || $s_master))
	{
		<li class="dropdown">
		$admin_url = parse_url($_SERVER['REQUEST_URI'], PHP_URL_PATH);
		$get_params = $_GET;
		$get_params['r'] = 'admin

		<a href="' . $admin_url . '?' . http_build_query($get_params) . '"
		title="Admin modus inschakelen">
		<span class="fa fa-times text-danger"></span>
		Admin modus
		</a>
	}

}

</ul>
</div>

</div>
</div>

<div class="row-offcanvas row-offcanvas-left">
<div id="sidebar" class="sidebar-offcanvas">

if ($s_anonymous)
{
	$menu = [
		'login'			=> ['sign-in', 'Login', []],
	];

	if ($app['config']->get('contact_form_en'))
	{
		$menu['contact'] = ['comment-o', 'Contact', []];
	}

	if ($app['config']->get('registration_en'))
	{
		$menu['register'] = ['check-square-o', 'Inschrijven', []];
	}
}
else
{
	$menu = [
//		'index'					=> ['home', 'Overzicht', []],
		'messages'				=> ['newspaper-o', 'Vraag & Aanbod', ['view' => $view_messages]],
		'users'					=> ['users', (($s_admin) ? 'Gebruikers' : 'Leden'), ['status' => 'active', 'view' => $view_users]],
		'transactions'			=> ['exchange', 'Transacties', []],
		'news'					=> ['calendar-o', 'Nieuws', ['view' => $view_news]],
	];

	$menu['docs'] = ['files-o', 'Documenten', []];

	if ($app['config']->get('forum_en'))
	{
		$menu['forum'] = ['comments-o', 'Forum', []];
	}

	if ($s_user || $s_admin)
	{
		$menu['support'] = ['ambulance', 'Probleem melden', []];
	}
}

<br>
<ul class="nav nav-pills nav-stacked">

foreach ($menu as $link => $item)
{
	$active = ($app['script_name'] == $link) ? ' class="active"' : '
	<li' . $active . '>
	 aphp($link, $item[2],
		$item[1], false, false, $item[0]);
	</li>
}
</ul>

</div>

$class_admin = ($page_access == 'admin') ? ' admin' : '

<div id="wrap">
<div id="main" class="container-fluid clear-top' . $class_admin . '">

$app['alert']->render();

<div class="row">
<div class="col-md-12 top-buttons">

<div class="visible-xs pull-left button-offcanvas">
<button type="button" class="btn btn-primary btn-md " data-toggle="offcanvas"
 title="Menu"><i class="fa fa-chevron-left"></i></button>
</div>
 $top_buttons ?? '
</div>
</div>

if (isset($top_right))
{
	<div class="pull-right hidden-xs">
	 $top_right;
	</div>
}

if (isset($h1))
{
	<h1>
	 ($page_access == 'admin' || $s_admin) ? '<small><span class="label label-info">Admin</span></small> ' : '
	 (isset($fa)) ? '<i class="fa fa-' . $fa . '"></i> ' : '
	 $h1 . '</h1>
}
