<!DOCTYPE html>
<html>
<head>
<title>eLAND</title>
$app['assets']->get_css();

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<div class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">

<div class="navbar-header">

<a href="http://letsa.net" class="navbar-brand">eLAND</a>

</div>
</div>
</div>

<div class="container-fluid">
<div class="row">
<div class="col-md-12">

if ($_GET['form_ok'])
{
	<br><div class="panel panel-success">
	<div class="panel-heading">
	<h1>Uw aanvraag is verstuurd.</h1>
	<p>Er wordt spoedig contact met u opgenomen.</p>
	</div></div>
	<a href="http://letsa.net" class="btn btn-default">Naar de eLAND-documentatie</a>
	<br><br><br>
}
else
{
	if (count($errors))
	{
		<br>
		<div class="panel panel-danger">
		<div class="panel-heading">
		<h3>Er deed zich een fout voor.</h3>
		foreach ($errors as $error)
		{
			<p>' . $error . '</p>
		}
		</div></div>
		<br>

	}

	$token = sha1(microtime());
	$key = 'hosting_form_' . $token;
	$app['predis']->set($key, '1');
	$app['predis']->expire($key, 7200);

	<h1>Aanvraag hosting eLAND</h1>

	<div class="panel panel-default">
	<div class="panel-heading">

	<form method="post" class="form-horizontal">

	<div class="form-group">
	<label for="subject" class="col-sm-2 control-label">Naam groep</label>
	<div class="col-sm-10">
	<input type="text" class="form-control" name="group_name"
	value="' . $group_name . '" required>
	</div>
	</div>

	<div class="form-group">
	<label for="mail" class="col-sm-2 control-label">Email*</label>
	<div class="col-sm-10">
	<input type="email" class="form-control" id="mail" name="mail"
	value="' . $mail . '" required>
	</div>
	</div>

	<div class="form-group">
	<label for="message" class="col-sm-2 control-label">Bericht</label>
	<div class="col-sm-10">
	<textarea name="message" class="form-control" id="message" rows="6" required>
	echo $message;
	</textarea>
	</div>
	</div>

	<input type="submit" name="zend" value="Verzenden" class="btn btn-default">
	<input type="hidden" name="token" value="' . $token . '">
	</form>

	</div>
	</div>

	<br>
	<p>*Privacy: uw email adres wordt voor geen enkel ander doel gebruikt dan u terug te kunnen
	contacteren.</p>

}
</div>
</div>

</div>
<br><br><br><br><br><br>
<footer class="footer">

<p><a href="http://letsa.net">eLAND
</a>&nbsp; web app voor gemeenschapsmunten</p>

</footer>
</div>
</body>
</html>
