{%- extends 'forum/base/forum_form.html.twig' -%}
{%- import 'macro/lbl.html.twig' as lbl -%}

{%- block btn_top_edit -%}
    {%- if pp_role('admin') or su_is_owner(topic.user_id) -%}
        {%- include 'include/btn_top/edit.html.twig' with {
            'btn_route': 'forum_edit_topic',
            'btn_title': 'forum_edit_topic.title',
            'btn_title_trans_params': {
                'self': su_is_owner(topic.user_id) ? 'self' : 'some_user',
                'topic_subject': topic.subject,
                'user': account(topic.user_id, schema)
            }
        } -%}
    {%- endif -%}
{%- endblock btn_top_edit -%}

{%- block btn_top_del -%}
    {%- if pp_role('admin') or su_is_owner(topic.user_id) -%}
        {%- include 'include/btn_top/del.html.twig' with {
            'btn_route': 'forum_del_topic',
            'btn_title': 'forum_del_topic.title',
            'btn_title_trans_params': {
                'self': su_is_owner(topic.user_id) ? 'self' : 'some_user',
                'topic_subject': topic.subject,
                'user': account(topic.user_id, schema)
            }
        } -%}
    {%- endif -%}
{%- endblock btn_top_del -%}

{%- block btn_item_nav -%}
    {%- include 'include/nav/nav_btn_group.html.twig' with {
        'nav_route': 'forum_topic',
        'overview_route': 'forum',
        'fa': 'comments',
        'nav_route_params': pp_ary(),
    } -%}
{%- endblock btn_item_nav -%}

{%- block heading_title -%}
    {{- 'forum_topic.title'|trans({
        'topic_subject': topic.subject,
    }) -}}
{%- endblock heading_title -%}

{%- block heading_sub -%}
    {%- if show_access -%}
        <p>
            {{- 'access.visible_for'|trans -}}: {{ lbl.btn(topic.access) -}}
        </p>
    {%- endif -%}
{%- endblock heading_sub -%}

{%- block data -%}
    {%- for post in posts -%}
        {%- embed 'embed/post.html.twig' -%}
            {%- block edit_btn -%}
                {%- include 'include/btn/edit.html.twig' with {
                    'btn_route': loop.first ? 'forum_edit_topic' : 'forum_edit_post',
                    'id': loop.first ? id : post.id,
                    'btn_title': loop.first ? 'forum_edit_topic.title' : 'forum_edit_post.title',
                    'btn_title_trans_params': {'self': 'other'}
                } -%}
            {%- endblock edit_btn -%}
            {%- block del_btn -%}
                {%- include 'include/btn/del.html.twig' with {
                    'btn_route': loop.first ? 'forum_del_topic' : 'forum_del_post',
                    'id': loop.first ? id : post.id,
                    'btn_title': loop.first ? 'forum_del_topic.title' : 'forum_del_post.title',
                    'btn_title_trans_params': {'self': 'other'}
                } -%}
            {%- endblock del_btn -%}
        {%- endembed -%}
    {%- endfor -%}
{%- endblock data -%}

{%- block pre_form -%}
    <h3>
        {{- 'forum_topic.add_post'|trans -}}
    </h3>
{%- endblock pre_form -%}

{%- block form_submit_btn -%}
    {%- include 'form/submit_add_btn.html.twig' with {
        'label': 'forum_topic.add_post'
    } -%}
{%- endblock form_submit_btn -%}
