{%- macro account_link(id, schema) -%}
    <i class="fa fa-user"></i>&nbsp;
    {%- if pp_role('admin') -%}
        <a href="{{- path('users_show_admin', pp_ary()|merge({'id': id})) -}}">
    {%- else -%}
        <a href="{{- path('users_show', pp_ary()|merge({'id': id})) -}}">
    {%- endif -%}
        {{- account(id, schema) -}}
    </a>
{% endmacro account_link -%}