{%- if config_bool('transactions.currency.timebased_en', schema)
    and config_int('transactions.currency.per_hour_ratio', schema) > 0
    -%}
    <li>
        {{- 'transactions.valuation'|trans({
            '%per_hour_ratio%': config_int('transactions.currency.per_hour_ratio', schema),
            '%currency%': config_str('transactions.currency.name', schema)
        }) -}}
    </li>
{%- endif -%}